<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.LogIn"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lx.memo2.MainActivity"/>
        <activity android:name=".edit.EditActivity"/>
        <activity android:name=".edit.choosetime"/>
        <activity android:name=".contact.ContactActivity"/>
        <activity android:name=".contact.ChooseContact"/>
        <activity android:name=".memo.MemoActivity"/>
        <activity android:name=".memo.MemoDetail"/>
        <activity android:name=".memo.Popup"/>
        <activity android:name=".memo.Setting"/>
    </application>

</manifest>
